<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_meta"}
    <link rel="stylesheet" href="M_ADMIN_STATIC/css/form.css">
    <title>form</title>
</head>
<body>
<div class="container">
    <form action="" class="mform">
        <input type="text" name="id" value="{$one_data.id|default=0}">
        <p>
            <span>name:</span>
            <input type="text" name="name" class="input-text"
                   value="{$one_data.name|default=''}">
        </p>
        <p>
            <span>sort:</span>
            <input type="text" name="sort" class="input-text"
                   value="{$one_data.sort|default=100}">
        </p>
        <p>
            <span>pid:</span>
            <select name="pid" class="input-select">
                <option value="">pleace select</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </p>
        <p>
            <input type="button" value="提交" class="input-submit" id="save">
        </p>
    </form>
</div>

<script>
    // var group_id = '{$one_data.group_id|default=""}';
    // var $group_id = $('[name="group_id"]');
    // if (group_id != ''){
    //     $group_id.val(group_id);
    // }

    var view = 'goods_class';
    $('#save').on('click', function (){
        ajax(this, {
            url: '{:url("admin/'+view+'/save")}'
            ,data: $('.mform').eq(0).serialize()
            ,success: function (data){
                console.log(data);
                layer.msg(data.msg);
                if (data.code == 1){
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                    parent.location.reload();
                }
            }
        })
    });
</script>

</body>
</html>


