{include file="public/_meta"}
<link rel="stylesheet" href="M_ADMIN_STATIC/css/list.css">
<div class="container">
    <div class="search">
        <form action="" class="search-form">
            <select name="search" class="input_select">
                <option value="">请选择</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <input type="text" class="input_text" name="search1" placeholder="search">
            <input type="submit" class="input_submit" value="search">
        </form>
    </div>
    <div class="do">
        <button type="button" class="button madd">新增</button>
        <button type="button" class="button">批量删除</button>
    </div>
    <div class="list">
        <table class="mtable">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>pid</th>
                <th>sort</th>
                <th class="do">do</th>
            </tr>
            </thead>
            <tbody>
            {foreach $all_data as $data}
            <tr>
                <td>{$data.id}</td>
                <td>
                    <!--循环显示出等级-->
                    <!--|_-->
                    {$data.xname}
                </td>
                <td>{$data.pid}</td>
                <td>{$data.sort}</td>
                <td>
                    <button type="button" class="button medit" data-id="{$data.id}">修改</button>
                    <button type="button" class="button mdel" data-id="{$data.id}">删除</button>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <ul class="page">
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
        </ul>
    </div>
</div>

<script>
    var view = 'goods_class';
    $('.madd').on('click', function () {
        mform('{:url("admin/'+view+'/form")}');
    });
    $('.medit').on('click', function () {
        mform('{:url("admin/'+view+'/form")}', $(this).data('id'))
    });
    $('.mdel').on('click', function (){
        ajax(this, {
            url: '{:url("admin/'+view+'/del")}'
            ,data: {id: $(this).data('id')}
            ,success: function (data){
                console.log(data);
                layer.msg(data.msg);
                if (data.code == 1){
                    window.location.reload();
                }
            }
        })
    });
</script>



